# ===================================================================
# plottwist-bootstrap requirements file
# ===================================================================
pytest
pytest-cov
coveralls